/* Cormorant (font-en-main) */
@import url('https://fonts.googleapis.com/css2?family=Cormorant:ital,wght@0,300..700;1,300..700&display=swap');
/* Noto Serif KR (font-ko-main) */
@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+KR:wght@200..900&display=swap');

/* Pretendard (font-ko-sub) */
@font-face {
    font-family: 'Pretendard';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/pretendard@1.0/Pretendard-Regular.woff2') format('woff2');
    font-weight: 400;
    font-display: swap;
}


/* ==========================================
   THEME VARIABLES & FONTS
   ========================================== */

:root {
    /* Colors */
    --color-primary: #ecebe8;
    --color-secondary: #683c3c;

    /* Typography */

    --font-ko-main : 'Noto Serif KR', serif;
    --font-ko-sub : 'Pretendard', sans-serif;;
    --font-en-main : 'Cormorant', serif;
}
